Repository wirecard/magento-ee, pull requests merged in 2019-12, with the labels that each got.

#93 Add ordernumber to all transactions
  lib/WirecardEE/PaymentGateway/Service/PaymentHandler.php
Labels: approval required, ready for review

#105 Rc 2.0.0 major
  .github/artifact-configuration.json
  .github/pr-labeler.yml
  .github/workflows/create_release.yml
  CHANGELOG.md
  SHOPVERSIONS
  app/code/community/WirecardEE/PaymentGateway/Model/BackendOperation.php
  app/code/community/WirecardEE/PaymentGateway/Model/Maestro.php
  app/code/community/WirecardEE/PaymentGateway/Model/Masterpass.php
  app/code/community/WirecardEE/PaymentGateway/Model/Ptwentyfour.php
  app/code/community/WirecardEE/PaymentGateway/Model/Unionpay.php
  app/code/community/WirecardEE/PaymentGateway/etc/config.xml
  app/code/community/WirecardEE/PaymentGateway/etc/system.xml
  app/design/frontend/base/default/template/WirecardEE/checkout/success.phtml
  app/design/frontend/base/default/template/WirecardEE/redirect.phtml
  app/design/frontend/base/default/template/WirecardEE/seamless.phtml
  app/locale/de_AT/WirecardEE_PaymentGateway.csv
  app/locale/de_CH/WirecardEE_PaymentGateway.csv
  app/locale/de_DE/WirecardEE_PaymentGateway.csv
  app/locale/en_AU/WirecardEE_PaymentGateway.csv
  app/locale/en_CA/WirecardEE_PaymentGateway.csv
  app/locale/en_GB/WirecardEE_PaymentGateway.csv
  app/locale/en_IE/WirecardEE_PaymentGateway.csv
  app/locale/en_NZ/WirecardEE_PaymentGateway.csv
  app/locale/en_US/WirecardEE_PaymentGateway.csv
  build/bin/payment_method_config.sql
  lib/WirecardEE/PaymentGateway/Payments/Contracts/MandatoryMailTrait.php
  lib/WirecardEE/PaymentGateway/Payments/MaestroPayment.php
  lib/WirecardEE/PaymentGateway/Payments/MasterpassPayment.php
  lib/WirecardEE/PaymentGateway/Payments/PtwentyfourPayment.php
  lib/WirecardEE/PaymentGateway/Payments/UnionpayPayment.php
  lib/WirecardEE/PaymentGateway/Service/PaymentFactory.php
  lib/WirecardEE/PaymentGateway/Service/PaymentHandler.php
  modman
  package.json
  tests/Functional/Controller/WirecardEEPaymentGatewayControllerTest.php
  tests/Selenium/Payments/MaestroTest.js
  tests/Selenium/Payments/MasterpassTest.js
  tests/Selenium/Payments/UpiTest.js
  tests/Selenium/config.js
  tests/Unit/Model/PaymentTest.php
  tests/Unit/Payments/MaestroPaymentTest.php
  tests/Unit/Payments/MasterpassPaymentTest.php
  tests/Unit/Payments/PtwentyfourPaymentTest.php
  tests/Unit/Payments/UnionpayPaymentTest.php
Labels: major

#107 Rc 2.0.0 major
  app/code/community/WirecardEE/PaymentGateway/etc/config.xml
Labels: major

#108 Remove obsolete release related scripts
  .bin/generate-readme-badge.sh
  .bin/generate-release-package.sh
  .bin/generate-tag.sh
  .bin/generate-wiki-notes.sh
  .bin/version-helper.php
  .github/workflows/create_release.yml
  .travis.yml
  composer.json
Labels: no-release

#109 Fix changelog formatting for table
  CHANGELOG.md
Labels: no-release

#111 Update release workflow
  .github/workflows/create_release.yml
Labels: no-release

#114 Update create_release.yml
  .github/workflows/create_release.yml
Labels: no-release

#115 Use action fork
  .github/workflows/create_release.yml
Labels: no-release
